.card-section {
  width: 342px;
}
.text-section {
  /* background-image: linear-gradient(
    to left bottom,
    #eac0cd,
    #ecc6d2,
    #eeccd7,
    #f0d3dc,
    #f2d9e1,
    #f3dfe6,
    #f5e4eb,
    #f6eaf0,
    #f7eff5,
    #f9f5f9,
    #fbfafd,
    #ffffff
  ); */
  border-radius: 0px 0px 30px 30px;
  background: linear-gradient(
    186deg,
    #eac0cd 0%,
    rgba(245, 226, 232, 0.82) 36.31%,
    rgba(255, 255, 255, 0.63) 100%
  );
}
