@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto+Flex:opsz@8..144&family=Roboto+Serif:opsz@8..144&family=ZCOOL+XiaoWei&display=swap");

:root {
  --primary: #3d318a;
  --blue: #1e90ff;
}

* {
  margin: 0;
  padding: 0;
}

.roboto {
  font-family: "Roboto Flex", sans-serif;
}

.aclonica {
  font-family: "Aclonica", sans-serif;
}

.roboto-serif {
  font-family: "Roboto Serif", serif;
}

.z-cool {
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(61, 49, 138, 1) !important ;
}

.primary-color {
  color: var(--primary);
}
